*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100vw;
}
.container{
   background-color:  rgb(9, 32, 9);
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.leftcolumn{
   color: white;
   width: 60%;
}
.heading{
    font-weight: 800;
    font-size: 60px;
    color: white;
    margin-top: 70px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 50px;
}
.right-column{
    width: 40%;
    overflow: hidden;
}
.second-section{
    color:white;
    font-size: 30px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 90px;
}
.third-section{
    color: white;
    font-size: 25px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 45px;
}
.button{
    margin-left: 35px;
    background-color: yellow;
    border: 0px;
}
img{
    width:auto;
    height: 100%;
    position: absolute;
}